@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: #00C7A2;
    --color: #202020;
    --color1: #FFFFFF;
  --color2: #FDC800;
  --color3: #FCFCFC;
  --color4: #B1B1B1;
  --color5: #002147;
    --font1: "Cabin", sans-serif;
    --font2: "Bitter", serif;
    --font3: "Outfit", sans-serif;
    --font4: "Raleway", sans-serif;
    --font5: "Inter", sans-serif;
}



#gallery{
  padding-top: 15.5vh;
}

@media(max-width: 1439px){
  #gallery{
    padding-top: 16vh;
}
}

@media(max-width: 1025px){
  #gallery{
    padding-top: 11.5vh;
}
}


@media(max-width: 769px){
  #gallery{
    padding-top: 14.5vh;
  }
}


/* Section 1 */


#gallery-section-1{
  background-image: url("../../JalAssets//jal_bg_img_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; 
  padding-top: 80px;
  padding-bottom: 80px;
}


#gallery-section-1-div-1-p-1{
  font-family: var(--font1);
font-size: 32px;
font-weight: 700;
text-align: center;
color: var(--color1);
}

#gallery-section-1-div-1-p-2{
  font-family: var(--font1);
font-size: 24px;
font-weight: 700;
text-align: center;
color: var(--color1);
}


/* section 2 */

#gallery-section-2{
    padding-top: 80px;
    padding-bottom: 80px;
}

#gallery-section-2-div-1-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

#gallery-section-2-div-1-1-button-1{
    font-family: var(--font1);
font-size: 12px;
font-weight: 700;
background-color: var(--primary-color);
color: var(--color1);
border: none;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
}

#gallery-section-2-div-1-1-button-2{
    font-family: var(--font1);
font-size: 12px;
font-weight: 700;
background-color: var(--color1);
color: var(--primary-color);
border: 1px solid var(--primary-color);
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
}

#gallery-section-2-div-1-2{
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
}

#gallery-section-2-div-1-2-img{
    width: 500px;
height: 250px;
margin-top: 30px;
margin-bottom: 30px;
}

@media(max-width: 1022px){
    #gallery-section-2-div-1-2{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media(max-width: 769px){
    #gallery-section-2-div-1-2-img{
        width: 100%;
    }
}