@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');


:root{
    --primary-color: #00C7A2;
    --color: #202020;
    --color1: #FFFFFF;
    --font1: "Cabin", sans-serif;
}


#navbar{
    position: fixed;
    z-index: 9999;
    width: 100%;
}

@media(max-width: 767px){
    #navbar{
        margin-top: 0px;
    }
}

#navbar-1{
    background-color: var(--primary-color);
}


#navbar-1-p-1{
    font-family: var(--font1);
    font-size: 12px;
    font-weight: 700;
    color: var(--color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

#navbar-2{
    padding: 0px;
    background-color: var(--color1);
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(156,156,156,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(156,156,156,1);
box-shadow: 0px 0px 10px 0px rgba(156,156,156,1); */
}


#navbar-brand-logo{
    /* width: 150px; */
    height: 100px;
}
#navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#nav-link{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 600;
    color: var(--color);
}

#nav-link:hover{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 600;
    color: var(--primary-color);
}

#d-flex-contact{
    border: none;
    font-family: var(--font1);
font-size: 15px;
font-weight: 600;
background-color: var(--primary-color);
color: var(--color1);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 2px;
}

@media(max-width: 769px){
    #navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    #d-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}