@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: #00C7A2;
    --color: #202020;
    --color1: #FFFFFF;
  --color2: #FDC800;
  --color3: #FCFCFC;
  --color4: #B1B1B1;
  --color5: #002147;
    --font1: "Cabin", sans-serif;
    --font2: "Bitter", serif;
    --font3: "Outfit", sans-serif;
    --font4: "Raleway", sans-serif;
    --font5: "Inter", sans-serif;
}


#registration{
  padding-top: 15.5vh;
}

@media(max-width: 1439px){
  #registration{
    padding-top: 16vh;
}
}

@media(max-width: 1025px){
  #registration{
    padding-top: 11.5vh;
}
}


@media(max-width: 769px){
  #registration{
    padding-top: 14.5vh;
  }
}


/* Section 1 */


#registration-section-1{
  background-image: url("../../JalAssets//jal_bg_img_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; 
  padding-top: 80px;
  padding-bottom: 80px;
}


#registration-section-1-div-1-p-1{
  font-family: var(--font1);
font-size: 32px;
font-weight: 700;
text-align: center;
color: var(--color1);
}

#registration-section-1-div-1-p-2{
  font-family: var(--font1);
font-size: 24px;
font-weight: 700;
text-align: center;
color: var(--color1);
}


/* Section 2 */


#registration-section-2{
    padding-top: 50px;
    padding-bottom: 50px;
}

#registration-section-2-div-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration-section-2-div-1-h6-2{
    font-family: var(--font1);
font-size: 24px;
font-weight: 600;
line-height: 30px;
color: var(--color5);
text-align: center;
}

#registration-section-2-div-2-h6-1{
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: var(--color5);
    text-align: center;
}

#registration-section-2-div-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#registration-section-2-div-2-form-div-1-p-1{
    font-family: var(--font1);
    font-size: 16px;
    font-weight: 400;
   color: var(--color4);
  margin-bottom: 0px;
}



#registration-section-2-div-2-form-div-1-input{
    width: 440px;
    font-family: var(--font5);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    padding: 5px;
}

#registration-section-2-div-2-form-div-1-select{
    width: 440px;
    font-family: var(--font5);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    padding: 5px;
}

#registration-section-2-div-2-form-div{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    gap: 20px;
}

#registration-section-2-div-2-form-div-2{
    margin-top: 20px;
}

#registration-section-2-div-2-form-div-2-input{
    width: 900px;
    height: 100px;
    font-family: var(--font5);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

#registration-section-2-div-2-form-div-2{
    margin-top: 20px;
}

#registration-section-2-div-2-form-div-3{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    gap: 20px;
}

#registration-section-2-div-2-form-div-4{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    gap: 20px;
}

#registration-section-2-div-2-form-div-5{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
   gap: 10px;
}

#registration-section-2-div-2-form-div-5-checkbox{
    height: 20px;
}

#registration-section-2-div-2-form-div-5-p-1{
    margin-bottom: 0px;
}

#registration-section-2-div-2-form-div-6{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
}

#registration-section-2-div-2-form-div-6-submit{
    background-color: var(--primary-color);
    color: var(--color1);
    font-family: var(--font5);
    font-size: 16px;
    font-weight: 400;
    border-radius: 2px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media(max-width: 900px){
    #registration-section-2-div-2-form-div{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #registration-section-2-div-2-form-div-2-input{
        width: 440px;
    }

    #registration-section-2-div-2-form-div-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #registration-section-2-div-2-form-div-5-p-1{
        width: 440px;
    }

    #registration-section-2-div-2-form-div-5{
     justify-content: center;
    }

    #registration-section-2-div-2-form-div-3{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #registration-section-2-div-2-form-div-4{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}

@media(max-width: 480px){
    #registration-section-2-div-2-form-div-2-input{
        width: 400px;
    } 

    #registration-section-2-div-2-form-div-1-input{
      width: 400px;
    }

    #registration-section-2-div-2-form-div-1-select{
        width: 400px;
    }

    #registration-section-2-div-2-form-div-5-p-1{
        width: 380px;
    }

}

@media(max-width: 420px){
    #registration-section-2-div-2-form-div-2-input{
        width: 300px;
    } 

    #registration-section-2-div-2-form-div-1-input{
      width: 300px;
    }

    #registration-section-2-div-2-form-div-1-select{
        width: 300px;
    }

    #registration-section-2-div-2-form-div-5-p-1{
        width: 280px;
    }

}


@media(max-width: 320px){
    #registration-section-2-div-2-form-div-2-input{
        width: 250px;
    } 

    #registration-section-2-div-2-form-div-1-input{
      width: 250px;
    }

    #registration-section-2-div-2-form-div-1-select{
        width: 250px;
    }

    #registration-section-2-div-2-form-div-5-p-1{
        width: 230px;
    }

}